<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Edit</title>
</head>
<body>
<form th:action="@{/users/{id}/update(id=${user.getId()})}" th:method="put" th:object="${user}"
      enctype="multipart/form-data">
    <div>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}">
    </div>
    <div>
        <label for="age">Age</label>
        <input type="number" th:field="*{age}"></p>
    </div>
    <div>
        <label for="address">Address</label>
        <input type="text" th:field="*{address}">
    </div>
    <div>
        <label for="dob">Date of birth</label>
        <input type="text" th:field="*{dob}">
    </div>
    <div>
        <label for="avatar">Avatar</label>
        <img th:src="*{avatar}" alt="" width="100" height="100">
        <input type="file" th:name="file" accept="image/*">
    </div>
    <input type="submit">
</form>
</body>
</html>